.wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr; /* fr é tamanho flexivel */
    gap: 2rem; /* espacamento entre as colunas */
    align-items: flex-start; /* alinhar pro topo */
}

@media (max-width: 768px) {
    html{
        font-size: 87.5%;
    }
    
    .wrapper{
        grid-template-columns: 1fr;
    }
}